body, html {
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h1, h2, h3, h4 {
}
h2 {
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

p {
	font-size: 18px;

}.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/bg.jpeg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
/* for the banner*/
.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}

/* Features Section */
#features {
	padding: 120px 0;
}
#features .features-item {
	margin: 0 20px;
}
#features img {
	margin: 30px auto 20px;
}
#features .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#features p {
	line-height: 24px;
	margin: 15px 0 30px;
}


/* About Section */
#about {
	padding: 0;
	background: #f6f6f6;
}
#about h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#about .about-text {
	padding: 80px 0;
}
#about .about-img {
	background: #444 url(../img/gallery-bg.png) center center no-repeat;
	background-size: cover;
	height: 570px;
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
	
}

/* Footer Section*/
#footer {
	background: #262626;
	padding: 40px 0 20px 0;
	position: center;
	padding-left: 440px;

}
#footer p {
	font-size: 14px;
	color: #666;
	opacity: 0.5;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #eee;
}
